img{
    width: 60px;
    height: auto;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

img{
    padding: 20px;
    background-color: gray;
    border-radius: 7px;
}

