body{
    background-color: gray;
}

div{
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    justify-content: center;
    margin: 1.5em;
}

div img{
    width: 50px;
    height: auto;

}

